<div class="col-lg-10 mx-auto mt-3">
  <div class="row">
    <% if @shared_posts.present?  %>
      <% @shared_posts.each do |post| %>
        <div class="col-lg-4 mt-3 mb-3">
          <div class="card text-center shadow rounded-0" style="min-height: 350px;">
            <div class="card-body">
              <% if post.images.attached? %>
                <%= image_tag post.images.first, class: 'post_images mb-3' %>
              <% end %>
              <div class="user-info" data-controller="user-name" >
                <h5 data-user-name-target='name' data-action="click->user-name#getUserName" >Posted by : <%= post.user.name %></h5>
                <h5><%= link_to post.title, post, style: "text-decoration: none;" %></h5>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
    <div class="col-lg-12 mt-2">
        <p class="border border-1 rounded p-2">No shared post available.</p>
      </div>
    <% end %>
  </div>
</div>


<style>
  .post_images {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .post_images img {
    width: 100%;
    height: auto;
    display: block;
  }
</style>