<div class="container col-lg-10 mx-auto mt-3 bg-light my-container">
  <div class="row">
  	<div class="card">
  		<div class="card-body">
  	    <h4>Who's viewed your profile</h4>
  	    <ul class="list-unstyled">
  	    	<% @viewer_users.each do |user| %>
					  <li class="media d-flex mt-5">
					  	<% if user.image.attached? %>
					      <%= image_tag user.image, style: 'width: 64px;height: 64px;', class: 'mr-3' %>
					    <% else %>
					      <%= image_tag 'human.avif', style: 'width: 64px;height: 64px;', class: 'mr-3' %>
					    <% end %>
					    <div class="media-body">
					      <h5 class="mt-0 mb-1"><%= user.name %></h5>
					      <%= user.profile_title%>
					    </div>
					  </li>
					<% end %>  
				</ul>
  	  </div>
  	</div>
  </div>
</div>
