<div class="col-lg-10 mx-auto mt-3" id="calendar"></div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay' // Add buttons for each initial view
      },
      events: {
        url: '<%= calendar_events_events_path(format: :json) %>',
        method: 'GET',
        failure: function() {
          alert('There was an error while fetching events!');
        }
      },
      eventDidMount: function(info) {
        var eventStart = new Date(info.event.start);
        var now = new Date();
        var eventEnd = new Date(info.event.end);
        if (eventEnd < now) {
          info.el.style.backgroundColor = 'red';
        } else if (eventStart <= now && now < eventEnd) {
          info.el.style.backgroundColor = 'green';
        }
        info.el.style.color = 'black'; // Set text color to black
      }
    });
    calendar.render();
  });
</script>

<style>
  /* Change the background color of the calendar container */
  #calendar {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }

  /* Style the calendar's header */
  .fc-header-toolbar {
    background-color: #333;
    color: #fff;
  }

  /* Style the calendar buttons in the header */
  .fc-button {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
  }

  .fc-button:hover {
    background-color: #555;
  }

  /* Style the event title */
  .fc-event-title {
    font-weight: bold;
  }

  /* Style events based on their status */
  .fc-event {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .fc-event .fc-bg {
    background-color: #007bff; /* Background color for active events */
    border: 1px solid #0056b3;
    color: #fff;
  }

  .fc-event .fc-time {
    color: #007bff;
  }

</style>
