<% messages.each do |message| %>
  <%= puts 'sdnkjshdfjdshfjhjsfhjdsfhhfs======================'%>
  <div class="message <%= message.sent_by?(current_user) ? 'sent' : 'received' %>">
    <%= message.message %>
  </div>
<% end %>
