.image-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: auto;
  display: block;
}
.user-image{
  width: 70px;
  overflow: hidden;
  margin-top: 15px;
}

.hidden {
  display: none;
}

.show-more, .show-less {
  cursor: pointer;
  color: blue;
}