<%= form_with model: current_user, url: update_member_description_path, method: :patch do |form| %>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label class="mb-3">Edit your description here. Try to keep it simple and to the point so the others can find valuable details of yours.</label>
          <%= form.text_area :about, value: current_user.about, class: "form-control", rows: 15 %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= form.submit 'Save Changes', class: 'btn btn-primary', data: { action: 'click->bs-modal#submitEnd' } %>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
<% end %>
