<div class="col-lg-10 mx-auto mt-5">
  <%= render 'member_personal_details', user: @user %>

  <div class="card mb-5">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex justify-content-start">
            <h3>About</h3>
          </div>
        </div>
        <% if user_signed_in? && @user == current_user %>
          <div class="col-lg-6">
            <div class="d-flex justify-content-end">
              <%= link_to edit_member_description_path, data: { controller: "edit-user-description" } do %>
                <i class="bi bi-pencil-fill"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <%= render 'member_description', user: @user %>
    </div>
  </div>
</div>
